# server configuration
# Env value : production || staging || development
APP_ENV=development
APP_PORT=8080
API_KEY=API_KEY

# database configuration
DB_HOST=localhost # docker-compose service name or localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=123456
DB_NAME=hackathon_fiber_starter

# OAuth2 configuration
GOOGLE_CLIENT_ID=<yourapps.googleusercontent.com>
GOOGLE_CLIENT_SECRET=<thisissamplesecret>

# GOMAIL configuration options for the email service
GOMAIL_HOST=smtp.gmail.com
GOMAIL_PORT=465
GOMAIL_USERNAME=<email-server-username>
GOMAIL_PASSWORD=<email-server-password>

# Firebase configuration
FIREBASE_BUCKET=<hackathon-fiber-starter.appspot.com>
FIREBASE_CREDENTIALS_PATH=config/firebase-credentials.json

# Redis configuration
REDIS_ADDR=redis:6379
REDIS_PASS=password

# JWT
JWT_SECRET_KEY=thisisasamplesecret
JWT_EXP_TIME=8h
